<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <!-- Don't rewrite real files and directories -->
        <rule name="Static Files" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        
        <rule name="Directories" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
          </conditions>
          <action type="None" />
        </rule>
        
        <!-- Route all requests to index.html for React Router -->
        <rule name="React Router SPA" stopProcessing="true">
          <match url="^(?!index\.html|assets/|favicon|sw\.js).*$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>

    <!-- Static File Compression -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
      </dynamicTypes>
    </httpCompression>

    <!-- Browser Caching -->
    <staticContent>
      <clientCache cacheControlMode="UseExpires" cacheControlMaxAge="365.00:00:00" httpExpires="Wed, 01 Jan 2099 00:00:00 GMT">
        <fileExtension fileExtension=".js" httpExpires="Thu, 01 Jan 2099 00:00:00 GMT" cacheControlMaxAge="30.00:00:00" />
        <fileExtension fileExtension=".css" httpExpires="Thu, 01 Jan 2099 00:00:00 GMT" cacheControlMaxAge="30.00:00:00" />
        <fileExtension fileExtension=".html" httpExpires="Thu, 01 Jan 1970 00:00:00 GMT" cacheControlMaxAge="0.00:00:00" />
        <fileExtension fileExtension=".jpg" httpExpires="Thu, 01 Jan 2099 00:00:00 GMT" cacheControlMaxAge="365.00:00:00" />
        <fileExtension fileExtension=".png" httpExpires="Thu, 01 Jan 2099 00:00:00 GMT" cacheControlMaxAge="365.00:00:00" />
        <fileExtension fileExtension=".gif" httpExpires="Thu, 01 Jan 2099 00:00:00 GMT" cacheControlMaxAge="365.00:00:00" />
        <fileExtension fileExtension=".webp" httpExpires="Thu, 01 Jan 2099 00:00:00 GMT" cacheControlMaxAge="365.00:00:00" />
        <fileExtension fileExtension=".woff" httpExpires="Thu, 01 Jan 2099 00:00:00 GMT" cacheControlMaxAge="365.00:00:00" />
        <fileExtension fileExtension=".woff2" httpExpires="Thu, 01 Jan 2099 00:00:00 GMT" cacheControlMaxAge="365.00:00:00" />
      </clientCache>
    </staticContent>

    <!-- Security Headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
      </customHeaders>
    </httpProtocol>

    <!-- Directory Browsing Disabled -->
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
